body {
  background-image: url(images/background1-edited.png);
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 1150px) {
  .about_logoimg {
    height: 26vh;
    position: absolute;
    left: 17.5%;
    transform: translateX(-50%);

    top: 3vh;
  }
  .about_logotxt {
    height: 7vh;
    position: absolute;
    top: 20vh;
    left: 17.5%;
    transform: translateX(-50%);
    /* right: 3.8vw; */
  }

  p {
    color: white;
  }
  .about_column {
    width: 35%;
    margin-top: -1vh;
    margin-left: -1vh;
    /* background-color: #060606; */
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    height: 100vh;
  }
  .about_column2 {
    float: left;
    width: 65%;
  }
  .about_row:after {
    content: "";
    display: table;
    clear: both;
  }
  .about_square {
    width: 43vw;
    height: 41vw;
    background-color: rgba(0, 0, 0, 0.4);
    transform: rotate(15deg) translateY(-50%);
    border-radius: 5vw;

    margin: 0;
    position: absolute;
    top: 48%;
    z-index: 0;

    left: 42%;
  }

  .about_wrapper_left .about_howitbegan {
    /* left: 8.4vw; */
    top: 41vh;
    position: relative;
    font-size: 3vh;
    word-spacing: 10px;
    letter-spacing: 3px;
    opacity: 0.6;
    font-family: "Orbitron", sans-serif;
    /* font-family: "Didact Gothic"; TODOFONT*/

    text-shadow: 0 0 20px #4b09e7, 0 0 10px #431bf3, 0 0 500px #500cec;
  }
  .about_whatwedo {
    font-family: "Orbitron", sans-serif;
    font-size: 3vh;
    word-spacing: 10px;
    letter-spacing: 3px;
    top: 57vh;
    opacity: 0.6;
    position: relative;
    /* left: 9.6vw; */
    text-shadow: 0 0 20px #4b09e7, 0 0 10px #431bf3, 0 0 500px #500cec;
  }
  .about_ourteam {
    font-family: "Orbitron", sans-serif;
    font-size: 3vh;
    word-spacing: 10px;
    letter-spacing: 3px;
    top: 73vh;
    position: relative;
    opacity: 0.6;
    /* left: 11vw; */
    text-shadow: 0 0 20px #ffffff, 0 0 10px #ffffff, 0 0 500px #ffffff;

    /* shadow for out team */
  }
  body {
    font-family: monospace;
  }
  .about_column li:hover {
    /* color: grey; */
    opacity: 1;
  }
  .about_column2 p {
    font-size: 2.6vw;
    left: 53.6vw;
    transform: translateY(-60%);
    top: 50%;
    position: absolute;
    max-width: 30vw;
    text-align: center;
  }
  li {
    color: white;
    list-style: none;
    margin-left: 5vw;
  }
  .about_item {
    font-size: 2.6vw;
    z-index: 2;
    max-width: 30vw;
    left: 53.6vw;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    font-family: "Orbitron", sans-serif;
    font-size: 2vh;
    word-spacing: 1.05vh;
    line-height: 3vh;
    letter-spacing: 2px;

    text-align: center;
    /* font-size: 100px; */
  }
  .about_what {
    left: 51vw;
    max-width: 35vw;
    font-size: 1.5vh;
    word-spacing: 9px;
    font-family: "Orbitron", sans-serif;
    line-height: 1.5vw;
  }
  li:hover {
    /* text-shadow: 
        0 0 10px #000000, 
        0 0 10px #ffffff,       
        0 0 500px #ffffff;  */
    position: relative;
    right: -1vw;
    /* color: grey; */
    opacity: 1;
  }
  .about_klm {
    position: absolute;
    top: 27vh;
  }
  .about_vline {
    position: relative;
    left: 5vh;
    top: 9vh;
    background-color: white;
    width: 0.5vh;
    height: 47vh;
  }
  .about_hline1 {
    position: relative;
    top: -43vh;
    left: -8vh;
    background-color: white;
    height: 0.5vh;
    width: 4vh;
    margin: 13vh;
  }
  .about_hline2 {
    position: relative;
    top: -37vh;
    left: -8vh;
    background-color: white;
    height: 0.5vh;
    width: 4vh;
    margin: 13vh;
  }
  .about_hline3 {
    position: relative;
    top: -31vh;
    left: -8vh;
    background-color: white;
    height: 0.5vh;
    width: 4vh;
    margin: 13vh;
  }
  /* .para{
        size: 30px;
    }
     */
}

@media (max-width: 1150px) {
  .about_row {
    margin-top: -1vh;
    margin-left: -1vw;
    width: 102%;
  }
  .about_logoimg {
    width: 12vw;
    margin-left: -13vw;
    margin-right: 5vw;
    display: inline;
  }

  .body {
    padding: 0;
    margin: o;
  }
  .about_column {
    width: 102%;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    margin-left: -1vw;
    margin-top: -1vh;
    /* height: 25vh; */
  }
  .about_column2 {
    width: 100%;
    float: left;

    /* height: 75vh; */
  }
  /* .about_logotxt {
    position: relative;
    bottom: 1.5vw;
    width: 24vw;
  } */
  .about_row:after {
    content: "";
    display: table;
    clear: both;
  }

  .about_wrapper_left li {
    color: white;
    list-style: none;
    font-family: "Orbitron", sans-serif;
  }
  .about_wrapper_left ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about_wrapper_left {
    display: flex;
    justify-content: space-around;
  }

  .about_howitbegan {
    margin-top: 2vh;
    font-size: 2.6vw;
    display: inline;
    /* float: left;  */
    /* margin-left: 0; */
    margin-right: 8vw;
    font-family: "Orbitron", sans-serif;
  }
  .about_whatwedo {
    display: inline;
    margin-top: 2vh;
    font-size: 2.6vw;
    position: relative;
    /*left: 18vw; 
         text-align: center; 
        top: 2vh;
        left: 16vw; */
    margin-right: 8vw;
    font-family: "Orbitron", sans-serif;
  }
  .about_ourteam {
    display: inline;
    margin-top: 2vh;
    font-size: 2.6vw;
    /* position: relative; */
    /* left: 40vw; */
    /* float: right; */
    /* margin-right: 1vw; */
    font-family: "Orbitron", sans-serif;
  }
  .about_square {
    width: 80vw;
    height: 75vh;
    background-color: rgba(254, 254, 255, 0.164);
    transform: rotate(0deg) translateY(-50%);
    border-radius: 5vw;
    display: none;
    margin: 0;
    position: absolute;
    top: 56%;
    z-index: 0;

    left: 10%;
  }
  .about_wrapper_left li:hover {
    text-shadow: 0 0 10px #000000, 0 0 10px #ffffff, 0 0 500px #ffffff;
    position: relative;
    bottom: -0.1vh;
    color: grey;
  }
  .about_welcome {
    font-size: 4.2vw;
    top: 24vh;
    position: relative;
    width: 50vw;
    left: 25vw;
    text-align: center;
    line-height: 6vh;
  }
  .about_item {
    color: white;
    font-size: 4vw;
    position: absolute;
    /* text-align: center; */
    /* top: 46vh;
    left: 35vw; */
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 54%;
    width: 72vw;
    line-height: 6vw;
    word-spacing: 1.2vh;
    font-family: "Orbitron", sans-serif;
    /* text-align: center; */
  }
  .about_what {
    width: 76vw;
    left: 10.5%;
    transform: translateY(-50%);
    top: 50vh;
    font-size: 3vw;
    word-spacing: 0.2vh;
    /* line-height: 10vw; */
    position: relative;
    font-family: "Orbitron", sans-serif;
  }
  /* .about_logo a{
    display:none;
  } */
}
