@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/web post contact bg o (1).png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding: 20px;
}

div.upper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.upper .cglimage {
  height: 82px;
  width: 75px;
}
div.upper .menubutton {
  font-size: 25px;
}
div.upper .menubutton a {
  color: white;
  text-decoration: none;
}

.flexbox_contactUs {
  display: flex;
}

.section1_contactUs,
.section2_contactUs {
  flex-direction: row;
  text-align: center;
  /* background-color: rgb(192, 185, 185); */
  align-content: center;
  position: relative;
  margin: auto;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.text_contactUs {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
}

.forms_contactUs {
  width: 300px;
  background-color: rgb(233, 233, 233);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  min-height: 15px;
  padding: 5px;
}

input[type="submit"] {
  padding: 5px;
  background: #ec008c;
  border: none;
  cursor: pointer;
  color: white;
  /* width: 80px !important; */
  text-align: center;
  transition: all 0.2s linear;
  font-family: "Poppins", sans-serif;
}

input[type="submit"]:hover {
  transform: scale(1.3);
  background-color: white;
  color: #ec008c;
}

.social_contactUs {
  /* height:10%; */
  margin: 15px;
}

.links_contactUs {
  align-self: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links_contactUs > a {
  height: 60px;
  width: 60px;
  text-align: center;
  margin: 10px;
  line-height: 75px;
  color: #fff;
}

.links_contactUs > a i {
  transition: all 0.1s linear;
}

.links_contactUs > a:hover i {
  transform: scale(1.4);
}

@media (max-width: 800px) {
  .flexbox_contactUs {
    flex-direction: column;
  }

  .section1_contactUs {
    display: none;
  }

  .section2_contactUs {
    height: 400px;
  }
}
